.Main {
    display: flex;
    justify-self: center;
    text-align: center;
}

.title {
    color: var(--title-colour);
    font-size: min(7.5rem, 10vmax);
    font-family: 'Gilda display', serif;
    font-weight: 500;
    letter-spacing: 0.5vmax;
    padding: 0.75rem;
}

.header {
    color: var(--title-colour);
    font-size: min(7.5rem, 10vmax);
    font-family: 'Gilda display', serif;
    font-weight: 500;
    letter-spacing: 0.5vmax;   
}

.subtitle {
    color: var(--title-colour);
    font-size: min(1.5rem, 2vmax);
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.45vmax;
}

.text {
    color: var(--title-colour);
    font-size: 1.5rem;
    font-size: 1vmax;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 0.25vmax;
}

.heading1 {
    color: var(--title-colour);
    font-size: max(min(3rem, 3vmax,3vmin),32px);
    font-family: 'Gilda display', serif;
    font-weight: bold;
    letter-spacing: 0.1vmax;
    padding-bottom: 0.1rem;
}

.normalText {
    color: var(--title-colour);
    font-size: max(min(1.3rem,1.3vmax,1.3vmin),14px);
    font-family: 'Gilda display', serif;
    text-decoration: none;
}

.normalText > ul {
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 62vh;
    width: 90vw;
    overflow-y: auto;
    overflow-x: auto;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.projects {
    justify-content: start;
}

.aboutCard {
    margin-top: 10px;
    margin-left: 5%;
    border: 1px;
    border-style: solid;
    width: 100%;
    height: 97%;
    border-radius: 5rem;
    background: linear-gradient(135deg,rgba(255,255,255,0.05),rgba(0, 0, 0, 0.1));
    border-color: var(--title-colour);
}

.aboutText {
    margin: 1.5vh 1.5vw 0 1.5vw;
}

.artContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.art1 {
    max-width: 20%;
    max-height: 33vh;
    height: auto;
    width: auto;
}

.art2 {
    max-width: 50%;
    max-height: 33vh;
    height: auto;
    width: auto;
}

.me {
    max-width: clamp(400px,50vw,100%);
    max-height: clamp(400px,50vh,100%);
    height: auto;
    width: auto;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skillCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1%;
    border: 1px;
    border-radius: 5rem;
    width: 300px;
    height: 90px;
    margin: 1% 1% 0 0;
    border-style: solid;
    background: linear-gradient(135deg,rgba(50,50,50,0.1),rgba(0, 0, 0, 0.5));
}

.skillCard:hover {
    background: linear-gradient(135deg,rgba(100,100,100,0.3),rgba(10, 10, 10, 0.5));
    box-shadow: 0 0 20px 1px rgba(255, 255, 255, 0.2);
}

.icon {
    width: 75px;
    padding-right: 5%;
}

.square {
    padding-left: 3%;
}

.buttons {
    display: flex;
    justify-content:space-evenly;
}

.button {
    margin-top: 1%;
    padding: min(2%,25px);
    border: 1px;
    border-radius: 5rem;
    border-style: solid;
    width: 300px;
    display: flex;
    justify-content: center;
    border-color: var(--title-colour);
    background: linear-gradient(135deg,rgba(50,50,50,0.1),rgba(0, 0, 0, 0.5));
    font-size: max(min(1.8rem,1.8vmax,1.8vmin),14px);
}

.button:hover {
    background: linear-gradient(135deg,rgba(100,100,100,0.3),rgba(10, 10, 10, 0.5));
    box-shadow: 0 0 20px 1px rgba(255, 255, 255, 0.2);
}

@media (max-width: 1910px) {
    .skillCard {
        width: 200px;
        height: 75px;
    }
    .icon {
        width: 50px;
    }
    .buttons {
        flex-direction: column;
        align-items: center;
    }

}
@media (max-width: 1500px) {
    .skillCard {
        width: 150px;
        height: 50px;
    }
    .icon {
        width: 40px;
    }
    
}
@media (max-width: 1000px) {
    .about {
        flex-direction: column;
    }
    .aboutCard {
        width: 70vw;
    }

    .heading1 {
        text-align: center;
    }

    .aboutText {
        margin: 2vh 2vw 0 4vw;
    }
    .skillCard > p {
        display: none;
    }
    .skillCard {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icon {
        width: 40px;
    }
    .square {
        width: 30px;
    }
    .buttons {
        flex-direction: row;
    }
    .button {
        width: 100px;
    }
}
