:root {
    --bg-colour: #0c0d11;
    --title-colour: #e9f3f5;
    --cursor-colour: #e6e6e6;
}

.Background {
    background-size: 100% auto;
    background-repeat: repeat-y;
    background-color: var(--bg-colour);
    background-image: url('./images/custom-bg.jpg');
}
.Cursor {
    position: fixed;
    left: 0;
    top: 0;
    width: 64px;
    height: 64px;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: var(--cursor-colour);
    mix-blend-mode: soft-light;
    pointer-events: none;
}