:root {
    --bg-colour: #0c0d11;
    --title-colour: #e9f3f5;
    --cursor-colour: #e6e6e6;
}
* {
    cursor: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
    height: 100vh;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1000;
}

.Background {
    background-size: 100% auto;
    background-repeat: repeat-y;
    background-color: var(--bg-colour);
    background-image: url('./images/custom-bg.jpg');
}

.Cursor {
    position: fixed;
    left: 0;
    top: 0;
    width: 64px;
    height: 64px;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: var(--cursor-colour);
    mix-blend-mode: soft-light;
    pointer-events: none;
}


/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}